// Body
$body-bg: #fafafa;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;

$orange: #f0b429;
$orange-dark: #8d2b0b;

$blued-gray: #243B53;

$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Spacing
$p-1: 6px;
$p-2: 12px;
$p-3: 18px;
$p-4: 24px;
$p-5: 36px;
$p-6: 48px;
$p-7: 60px;

// Font sizing
$font-size-huge: 48px;
$font-size-large: 24px;
$font-size-base: 18px;

// Border radius


