.alert {
    grid-area: info;
    padding: space(2) space(4);
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

.alert__success {
    background: $primary-100;
    color: $primary-800;
}

.alert__failure {
    background: $red-100;
    color: $red-800;
}

.alert__close {
    position: absolute;
    cursor: pointer;
    right: space(2);
    top: space(2);
}
