.form {
    display: flex;
    flex-direction: column;
    max-width: 448px;
}

.form__auth {
    box-sizing: border-box;
    margin: space(16) auto;
    padding: space(8);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;


    &__title {
        margin: 1.5rem 0;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
        color: $grey-900;
    }

    &__input:not([type="hidden"]) {
        background: $grey-050;
        border: none;
        padding: space(4);
        border-radius: 5px;
        margin: 1.25rem 0;
        &:first-child {
            margin: 0 auto 1.25rem auto;
        }
        &:last-child {
            margin: 1.25rem auto 0 auto;
        }
    }

    &__error {
        color: $red-400;
    }

    &__secondary__action {
        font-size: 0.8rem;
        color: $grey-500;
        margin-bottom: 1.5rem;
    }

    &__checkbox {
        margin-bottom: 1.25rem;
    }

    & *[type="submit"] {
        margin: 1.5rem 0;
    }
}
