html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --color: #121C42;
  --contrast: #4869EE;
  --gap: 20px;
  --space: 8px;
  --border: #D5E3EC;
  --background: #F7FAFB;
  --background-light: #FFF;
  --shadow: #D8E1E8;
  --list-hover: var(--background);
}

.wrapper {
  max-width: 1280px;
  margin: auto;
}

body {
  font-family: "Nunito", sans-serif;
  color: #102A43;
}

.navbar {
  height: 80px;
  margin: auto;
}

.navbar__light {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #003E6B;
}

.navbar__dark {
  color: white;
}

.navbar .wrapper {
  height: inherit;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  justify-items: center;
}

.navbar__menu {
  display: -webkit-box;
  display: flex;
}

.navbar__menu__link {
  margin: 0 calc(2 * var(--space));
  font-size: 1.25rem;
}

.navbar__menu__link:last-child {
  margin: 0;
}

.footer {
  background: #102A43;
  padding: calc(8 * var(--space)) 0 calc(8 * var(--space)) 0;
  text-align: center;
}

.footer__title {
  color: white;
  font-size: 1.75rem;
  margin-bottom: calc(2 * var(--space));
}

.footer__navigation__menu {
  color: white;
  font-size: 1.2rem;
}

.footer__navigation__menu__item {
  margin-bottom: calc(2 * var(--space));
}

.footer__navigation__menu__item:last-child {
  margin: 0;
}

.navbar {
  height: 90px;
  margin: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 calc(4 * var(--space));
}

.navbar__light {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #003E6B;
}

.navbar__menu {
  display: -webkit-box;
  display: flex;
}

.navbar__menu__link {
  margin: 0 calc(2 * var(--space));
  font-size: 1.25rem;
}

.navbar__menu__link:last-child {
  margin: 0;
}

.form__auth {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  max-width: 448px;
  box-sizing: border-box;
  margin: calc(8 * var(--space)) auto;
  padding: calc(4 * var(--space));
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.form__auth__title {
  margin: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #102A43;
}

.form__auth__input:not([type=hidden]) {
  background: #F0F4F8;
  border: none;
  padding: calc(4 * var(--space));
  border-radius: 5px;
  margin: 1.25rem 0;
}

.form__auth__input:not([type=hidden]):first-child {
  margin: 0 auto 1.25rem auto;
}

.form__auth__input:not([type=hidden]):last-child {
  margin: 1.25rem auto 0 auto;
}

.form__auth__error {
  color: #D64545;
}

.form__auth__secondary__action {
  font-size: 0.8rem;
  color: #627D98;
  margin-bottom: 1.5rem;
}

.form__auth__checkbox {
  margin-bottom: 1.25rem;
}

.form__auth *[type=submit] {
  margin: 1.5rem 0;
}

.button {
  height: 4rem;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  font-family: "Nunito", sans-serif;
}

.button__secondary {
  background: #F7C948;
  color: #8D2B0B;
}

.hero {
  padding: 0 calc(4 * var(--space));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 111, 175, 0.8)), to(rgba(24, 111, 175, 0.8))), url("/img/landing-hero-bg.jpg");
  background-image: linear-gradient(to bottom, rgba(24, 111, 175, 0.8), rgba(24, 111, 175, 0.8)), url("/img/landing-hero-bg.jpg");
  background-size: cover;
  color: white;
}

.hero__content {
  min-height: 400px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}

.hero__title {
  font-size: 4rem;
  margin: 1.25rem 0;
}

.hero__catchphrase {
  font-size: 1.5rem;
}

.hero__cta {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.hero__cta.button {
  margin: auto;
  max-width: 300px;
  height: 4rem;
  line-height: 4rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 50%;
}

